.experience-item-left,
.experience-item-right {
  margin: 20px;
  margin-bottom: 100px;
  display: inline-block;
  max-width: 450px;
}

.experience-item-left {
  text-align: end;
}

.position {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 450px;
}

.duration {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
  color: white;
  max-width: 400px;
}

.description {
  text-align: left;
  list-style-type: "✧ ";
  color: white;
  max-width: 400px;
}

.experience-item-left .description {
  float: right;
}
