.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
  height: 100%;
}
.about-icon {
  background-color: #7cfcda;
  border-color: #7cfcda;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px;
}
.about-text {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  width: 50%;
  margin-top: 50px;
}
.scroll {
  margin: 10%;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.stats {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.stat-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat-item text {
  color: white;
  font-family: "IBM Plex Mono", monospace;
}
