.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
  height: 100%;
}
.about-icon {
  background-color: #7cfcda;
  border-color: #7cfcda;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.about-text {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  width: 50%;
  margin-top: 50px;
}
