.experience {
  color: #7cfcda;
  margin: 50px;
}

.experience h2 {
  font-family: "Amiko", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-style: italic;
  margin-left: 50px;
}

.experience-content {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-box {
  display: flex;
  flex-direction: row;
  margin-right: -10px;
  padding-right: 0;
  max-width: 450px;
}

.right-box {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  max-width: 450px;
}

.line {
  width: 50px;
  height: 2px;
  border: 1px solid #7cfcda;
  background-color: #7cfcda;
  border-radius: 20px;
  position: relative;
  top: 25px;
  margin: 0px;
}

.experience-left {
  margin-right: 0px;
}

.experience-right {
  margin-left: 0px;
  margin-top: 100px;
}

.timeline {
  width: 25px;
  flex-shrink: 0;
  min-height: 100vh;
  background-color: #7cfcda;
  border: 1px solid #7cfcda;
  border-radius: 20px;
  margin: 0;
}
