.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "IBM Plex Mono", monospace;
}

.home-icon {
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  height: 70px;
  width: 70px;
}

.nav-bar {
  color: white;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-bar a {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-bar a.active {
  color: #7cfcda;
  text-decoration: underline;
}

.nav-bar a:hover {
  color: white;
  background-color: #40af92;
  transition-duration: 0.5s;
}

.nav-bar a.active:hover {
  color: #7cfcda;
  background: none;
}
