.projects-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  position: relative;
  margin: 50px;
}

.projects h2 {
  color: #7cfcda;
  font-family: "Amiko", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-style: italic;
  margin-left: 50px;
}
